<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <system.serviceModel>
    <client>
      <endpoint 
        address="net.tcp://localhost:3455/Query1" 
        binding="netTcpBinding" 
        contract="IQuery1_Connected" 
        bindingConfiguration="NonTransactional" />
      <endpoint 
        address="net.tcp://localhost:3454/Service1" 
        binding="netTcpBinding" 
        contract="IService1_Connected" 
        bindingConfiguration="Transactional" />
      <endpoint 
        address="net.msmq://localhost/private/Service1" 
        binding="netMsmqBinding" 
        contract="IService1_Disconnected" />
      <endpoint 
        address="net.tcp://localhost:3455/VisitQuery" 
        binding="netTcpBinding" 
        contract="IVisitQueryService_Connected" 
        bindingConfiguration="NonTransactional" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="Transactional" transactionFlow="true"></binding>
        <binding name="NonTransactional" transactionFlow="false"></binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>